html, body {
    margin: 0;
    padding: 0;
}

/* Typography */
header {
    position: relative;
}

.header-section h1 {
    margin-left: 0.98em;
    font-size: 2rem;
}

.header-section p {
    font-weight: 900;
    cursor: pointer;
}

.header-section h1, a{
    color: whitesmoke;
}

.header-section a {
    text-decoration: none;
    font-size: 1.2rem;
}

/* layout  */
.header-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    height: 208px;  
    width: 100%;
    background-color: #22223b; 
}

.main-page {
    background: #121212 url('./images/body-img.png') center no-repeat;
    padding: 2.75em;
    box-sizing: border-box;
    height: 100vh; 
    overflow: scroll; 
}

.search-section {
    background-color: #4B4B4B;
    display: flex;
    align-items: center; 
    gap: 0.2em;
    border-radius: 6px;
    height: 38px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.search-section i {
    margin-left: 0.5em;
}

.search-section input {
    border: none;
    background-color: #4B4B4B;
    margin-left: 0.2em;
    font-size: 1em;
    width: 100%;
}

.search-section input,
.search-section i {
    color: #A5A5A5;
}

.search-section button {
    margin-left: auto;
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #A5A5A5;
    padding: 0.9em;
    color: #FFFFFF; 
}

.search-section button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.sub-section,
.movie-list {
    margin: 0;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  color: rgb(207, 203, 203);
  gap: 0.5em;
  box-sizing: border-box;
  border-bottom: 0.1em solid #2C2C2C;
  padding: 1em;
}

.movie-details {
    flex-direction: column;
    gap: 1em;
    
}

.movie-details p,
.movie-details h1 {
    margin: 0;
    padding: 0;
}


.movie-details,
.movie-details-1,
.movie-details-2,
.watchlist {
  display: flex;
}

.movie-details-1,
.movie-details-2 {
    gap: 0.5em;
}


.movie-list,
.movie-details-1,
.movie-details-2 {
    align-items: center;
    justify-content: start;
}

.addmovie-btn {
    border: .1em solid whitesmoke;
    background-color: #FFFFFF;
    color: #121212;
    border-radius: 50%;
    font-size: 1rem;
    box-sizing: border-box;
}

.movie-list img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.watchlist {
    gap: .2em;
}

.watchlist,
.addmovie-btn {
    cursor: pointer;
}
.fa-star {
    color: #FEC654
}

.fa-plus {
    border-radius: 50%;
    background-color: whitesmoke;
    color: black;
    padding: 0.09em;
}


/* media queries */

@media (min-width: 420px) {
    .header-section h1 {
        width: 357px;
    }
    .search-section {
       max-width: 462px;
    }
   
}

@media (min-width: 700px) {
    .search-section {
        width: 100%;  
     }

     .movie-list {
       margin: 0 auto;
     }

     .movie-list img {
        width: 90%;
        height: 90%;
     }

     .movie-details {
        height: 70%;
        font-size: 1.3rem;
        justify-content: center;
     }
}

@media (min-width: 1024px) {
    .movie-list {
        max-width: 50%;
      }
}